*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#929292;
    position: relative;
    height: 100vh;   
}
h1{
    font-size:1rem;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    margin-left:.5rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.wrapper__main{
    width:68rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
}
.wrapper{
    flex:0 0 20%;
}
.wrapper__two{
    background-color:white;
    flex:1;
}
