.wrapper__two{
    display:flex;
    flex-direction:column;
}
.mainbar{
    flex:0 0 70%;
    background-color:white;
    
}
.image{
    width:17rem;
    height:auto;
    margin-top:5rem;
    margin-left:15rem;
}